body {
    font-family: Arial, sans-serif;
    margin: 0;
    
   
}

#game-board{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('./static/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.game-container {
    width: 100%;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.player-area ,#top-player, #bottom-player,#left-player,#right-player{
    width: 200px;
    height: 100px;
    text-align: center;
}

#top-player {
    position: absolute;
    top: 0;
}

.card {
    border: 1px solid #333;
    margin: 5px;
    cursor: pointer;
}
.card img {
    width: 60px;
    height: 80px;
    border: 1px solid black;
}
#left-player{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

#right-player{
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}

#player-avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
#player-name{
    text-align: center;
    margin-top: 5px;
}
#player-hand{
    display: flex;
    justify-content: center;
    align-items: center;
}
#player-hand div{
    margin-right: 10px;
}
    
    
    
    

}
