<!DOCTYPE html>
<html>
<head>
    <title>黑桃A3 - 游戏进行中</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="game-container">
        <!-- 保持原有游戏界面结构 -->
        <div id="top-player">
            <img src="{{ url_for('static', filename='img/avatars/' + players_info[0].avatar) }}">
            <div class="hand">
                {% for card in players_info[0].hand %}
                    <img src="{{ url_for('static', filename='img/cards/' + card.filename) }}">
                {% endfor %}
            </div>
        </div>
        <!-- 其他玩家区域类似 -->
    </div>
</body>
</html>
